@media screen and (min-width: 1024px) {
  .container-fluid {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: .8;
    z-index: 100;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  .hide-on-desktop {
    display: none;
  }

  .show-on-desktop {
    display: block;
  }

  .menu-wrapper {
    display: flex;
    background-color: #fff;
    flex-flow: wrap;
    width: 100%;
    object-fit: contain;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
  }

  .menu-main {
    display: flex;
    width: 100%;
    padding: 1em 0 0em 0;
    margin: 0 0 3em 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    background: #fff;
    z-index: 10;
    justify-content: center;
    align-items: center;
  }

  i#menu-bars {
    display: none;
  }

  .menu-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .site-img-menu {
    align-items: inherit;
  }

  .row.menu-subsection {
    display: inline-grid;
    padding: inherit;
  }

  .menu-submenu-list {
    /* transform: translateY(10px); */

    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    padding: 10px 0 20px 0;
    background: #fff;
    padding: 20px 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-columns: 4;
    -moz-columns: 4;
    column-count: 4;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    max-width: 1200px;
    width: 100%;
    transition: .5s ease;
  }


  .menu-subheading {
    margin-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: #272727;
    letter-spacing: 1px;
    font-weight: 700;
  }

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: -webkit-fill-available;
    /* display: flex !important; */
  }

  ul.menu-detail {
    display: inline-flex;
  }

  li.menu-detail-item {
    display: contents;
    text-transform: uppercase;
    padding: 0 1em;
    font-size: 12px;
    float: left;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    font-family: Montserrat;
  }

  .menu-detail-main-heading {
    padding: 1em;
  }

  a.menu-detail-main-heading:hover,
  a.menu-detail-main-heading:focus {
    background: #eee;
    border-radius: 6px;
  }

  ul.menu-items {
    display: block;
  }

  .menu-details {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #000;
  }

  li.menu-submenu-items {
    display: block;
    float: none;
    line-height: 1.8em;
  }

  .product-item {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.8em;
  }

  span.compare-price {
    text-decoration-line: line-through;
    font-weight: bolder;
    color: #777;
  }

  span.price {
    font-weight: bold;
  }

  span.review-count {
    color: grey;
    font-size: .8em;
  }

  div#deal-plant {
    display: -webkit-box;
  }
}