body {
  display: flex;
  overflow-x: hidden;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

i.fa.fa-heart {
  color: darkred;
}

.slider {
  transition: .5s ease;
  overflow  : hidden;
}

.slider:not(.active) {
  display: none;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .utility-item{
    color: #ff785a;
  }
  .menu-main {
    display: -webkit-box;
    width: -webkit-fill-available;
    height: 3em;
    padding: .5em 0 9px 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    /* background: beige; */
    /* border-bottom: 1px solid #000; */
  }

  ul.menu-items {
    display: block;
    clear: both;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
  }

  .menu-row {
    display: flex;
    width: -webkit-fill-available;
    height: inherit;
  }

  .menu-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .site-img-menu {
    /* display: contents; */
    align-items: inherit;
  }

  .burger-menu {
    font-size: x-large;
  }

  li.menu-detail-item {
    font-weight: 700;
    display: list-item;
    margin: 0 3px 0 0;
  }

  .menu-subheading {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: #272727;
    letter-spacing: 1px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    clear: both;
    background: #fafafa;
    padding: 5px;
  }

  .menu-submenu-items {
    display: block;
    float: left;
    line-height: 2em;
    border-bottom: 1px solid #ddd;
    padding: 5px 5px 5px 15px;
    font-size: medium;
    font-weight: 400;
  }

  .menu-submenu-list {
    margin: 0 15px;
  }

  a.menu-detail-main-heading {
    padding: 15px 25px;
    display: inherit;
    border-top: 1px solid #000;
    font-size: larger;
  }
}
/*
@media (min-width:1200px) {
  .col-xlarge {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
  }

  .col-xlarge-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
  }

  .col-xlarge-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
  }

  .col-xlarge-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }

  .col-xlarge-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }

  .col-xlarge-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }

  .col-xlarge-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
  }

  .col-xlarge-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }

  .col-xlarge-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
  }

  .col-xlarge-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
  }

  .col-xlarge-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
  }

  .col-xlarge-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
  }

  .col-xlarge-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
  }

  .col-xlarge-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
}

@media (min-width:992px) {
  .col-large {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
  }

  .col-large-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
  }

  .col-large-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
  }

  .col-large-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }

  .col-large-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }

  .col-large-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }

  .col-large-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
  }

  .col-large-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }

  .col-large-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
  }

  .col-large-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
  }

  .col-large-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
  }

  .col-large-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
  }

  .col-large-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
  }

  .col-large-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
}
@media (min-width:768px) {
  .col-medium {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
  }

  .col-medium-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
  }

  .col-medium-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
  }

  .col-medium-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }

  .col-medium-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }

  .col-medium-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }

  .col-medium-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
  }

  .col-medium-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }

  .col-medium-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
  }

  .col-medium-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
  }

  .col-medium-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
  }

  .col-medium-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
  }

  .col-medium-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
  }

  .col-medium-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
}
@media (min-width:576px) {
  .col-small {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
  }

  .col-small-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
  }

  .col-small-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
  }

  .col-small-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }

  .col-small-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }

  .col-small-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }

  .col-small-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
  }

  .col-small-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }

  .col-small-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
  }

  .col-small-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
  }

  .col-small-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
  }

  .col-small-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
  }

  .col-small-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
  }

  .col-small-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-large,
.col-large-1,
.col-large-10,
.col-large-11,
.col-large-12,
.col-large-2,
.col-large-3,
.col-large-4,
.col-large-5,
.col-large-6,
.col-large-7,
.col-large-8,
.col-large-9,
.col-large-auto,
.col-medium,
.col-medium-1,
.col-medium-10,
.col-medium-11,
.col-medium-12,
.col-medium-2,
.col-medium-3,
.col-medium-4,
.col-medium-5,
.col-medium-6,
.col-medium-7,
.col-medium-8,
.col-medium-9,
.col-medium-auto,
.col-small,
.col-small-1,
.col-small-10,
.col-small-11,
.col-small-12,
.col-small-2,
.col-small-3,
.col-small-4,
.col-small-5,
.col-small-6,
.col-small-7,
.col-small-8,
.col-small-9,
.col-small-auto,
.col-xlarge,
.col-xlarge-1,
.col-xlarge-10,
.col-xlarge-11,
.col-xlarge-12,
.col-xlarge-2,
.col-xlarge-3,
.col-xlarge-4,
.col-xlarge-5,
.col-xlarge-6,
.col-xlarge-7,
.col-xlarge-8,
.col-xlarge-9,
.col-xlarge-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  /* padding-right: 15px;
  padding-left: 15px;*/
/*}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%
}*/
/*foundation hyjack*/
@media print,
screen and (min-width:64em) {
  .col-large-1,
  .col-large-10,
  .col-large-11,
  .col-large-12,
  .col-large-2,
  .col-large-3,
  .col-large-4,
  .col-large-5,
  .col-large-6,
  .col-large-7,
  .col-large-8,
  .col-large-9 {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .col-large-1 {
    width: 8.33333%
  }

  .col-large-2 {
    width: 16.66667%
  }

  .col-large-3 {
    width: 25%
  }

  .col-large-4 {
    width: 33.33333%
  }

  .col-large-5 {
    width: 41.66667%
  }

  .col-large-6 {
    width: 50%
  }

  .col-large-7 {
    width: 58.33333%
  }

  .col-large-8 {
    width: 66.66667%
  }

  .col-large-9 {
    width: 75%
  }

  .col-large-10 {
    width: 83.33333%
  }

  .col-large-11 {
    width: 91.66667%
  }

  .col-large-12 {
    width: 100%
  }
}
@media print,
screen and (min-width:40em) {
  .col-medium-1,
  .col-medium-10,
  .col-medium-11,
  .col-medium-12,
  .col-medium-2,
  .col-medium-3,
  .col-medium-4,
  .col-medium-5,
  .col-medium-6,
  .col-medium-7,
  .col-medium-8,
  .col-medium-9 {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
  .col-medium-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    width: auto
  }

  .col-medium-shrink {
    width: auto
  }

  .col-medium-1 {
    width: 8.33333%
  }

  .col-medium-2 {
    width: 16.66667%
  }

  .col-medium-3 {
    width: 25%
  }

  .col-medium-4 {
    width: 33.33333%
  }

  .col-medium-5 {
    width: 41.66667%
  }

  .col-medium-6 {
    width: 50%
  }

  .col-medium-7 {
    width: 58.33333%
  }

  .col-medium-8 {
    width: 66.66667%
  }

  .col-medium-9 {
    width: 75%
  }

  .col-medium-10 {
    width: 83.33333%
  }

  .col-medium-11 {
    width: 91.66667%
  }

  .col-medium-12 {
    width: 100%
  }
}
.col-small-1,
.col-small-10,
.col-small-11,
.col-small-12,
.col-small-2,
.col-small-3,
.col-small-4,
.col-small-5,
.col-small-6,
.col-small-7,
.col-small-8,
.col-small-9 {
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.col-small-1 {
  width: 8.33333%
}
.col-small-2 {
  width: 16.66667%
}
.col-small-3 {
  width: 25%
}
.col-small-4 {
  width: 33.33333%
}
.col-small-5 {
  width: 41.66667%
}
.col-small-6 {
  width: 50%
}
.col-small-7 {
  width: 58.33333%
}
.col-small-8 {
  width: 66.66667%
}
.col-small-9 {
  width: 75%
}
.col-small-10 {
  width: 83.33333%
}
.col-small-11 {
  width: 91.66667%
}
.col-small-12 {
  width: 100%
}/**/