@media screen and (max-width: 1023px) {
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
  }

  .utility-item {
    color: #ff785a;
  }

  .no-margin {
    margin-left: 0;
    margin-right: 0;
  }

  .menu-main {
    display: block;
    width: -webkit-fill-available;
    height: 3em;
    padding: .5em 0 9px 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    background: #fff;
    z-index: 10;
    position: sticky;
    transition: .25s ease;
    /* border-bottom: 1px solid #000; */
  }

  .menu-main.open {
    /* max-height: 1000px; */
    /* transform: translateY(0); */
    top: 0px
  }

  .menu-main.close {
    /* overflow: scroll;
    max-height: 0;
    transition: max-height 1s; */
    /* transform: translateY(-100%); */
    top: -65px;
  }

  ul.menu-items {
    display: inline-flex;
    clear: both;
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
    flex-wrap: wrap;

  }

  .menu-details {
    /* z-index: 10; */
    /*position: -webkit-sticky; todo check why sticky not working 
    position: sticky;
    top: 0;*/
    position: absolute;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    transition: .25s ease;
    overflow: overlay;
    max-height: 100%;
  }

  .menu-details.open {
    /*max-height: calc(100% - 1px);*/
    max-height: 1000px;
    /* transform: translateY(0em); */
  }

  .menu-details.close {
    overflow: overlay;
    max-height: 0;
    transition: max-height 1s;
    /* transform: translateY(-120%); */
  }

  .menu-row {
    display: flex;
    width: 100%;
    height: inherit;
  }

  .menu-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .site-img-menu {
    /* display: contents; */
    align-items: inherit;
  }

  .burger-menu {
    font-size: 2em;
  }

  li.menu-detail-item {
    font-weight: bold;
    display: list-item;
    margin: 0 3px 0 0;
    font-size: 9px;
    text-transform: uppercase;
    font-family: Montserrat;
  }

  .menu-subheading {
    margin-bottom: 5px;
    font-size: 1.25em;
    text-transform: uppercase;
    color: #272727;
    letter-spacing: 1px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    clear: both;
    background: #fafafa;
    padding: 5px;
  }

  .menu-submenu-items {
    display: block;
    float: left;
    line-height: 2em;
    border-bottom: 1px solid #ddd;
    padding: 5px 5px 5px 15px;
    font-weight: 400;
    font-size: 1.5em;
    text-transform: none;
  }

  .menu-items.menu-row {
    display: block;
  }

  .menu-submenu-list {
    margin: 0 15px;
    position: initial;
    transition: .25s ease;
  }

  .menu-submenu-list.close {
    overflow: auto;
    max-height: 0;
    transition: max-height 1s;
  }

  .menu-submenu-list.open {
    max-height: 1000px;
  }

  a.menu-detail-main-heading {
    padding: 15px 25px;
    display: inherit;
    border-top: 1px solid #000;
    font-size: 1.5em;
  }

  a#menu-flowers:active {
    border-bottom: 1px solid #d0d0d0;
  }
}

@media screen and (max-width: 1023px) and (min-width: 641px) {
  ul.menu-items li.menu-submenu-items {
    width: 30%;
  }
}

@media screen and (max-width: 640px) {
  ul.menu-items li.menu-submenu-items {
    width: 40%;
    flex: auto;
  }
}

/*foundation hyjack*/
@media print,
screen and (min-width:64em) {

  .col-large-1,
  .col-large-10,
  .col-large-11,
  .col-large-12,
  .col-large-2,
  .col-large-3,
  .col-large-4,
  .col-large-5,
  .col-large-6,
  .col-large-7,
  .col-large-8,
  .col-large-9 {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .col-large-1 {
    width: 8.33333%
  }

  .col-large-2 {
    width: 16.66667%
  }

  .col-large-3 {
    width: 25%
  }

  .col-large-4 {
    width: 33.33333%
  }

  .col-large-5 {
    width: 41.66667%
  }

  .col-large-6 {
    width: 50%
  }

  .col-large-7 {
    width: 58.33333%
  }

  .col-large-8 {
    width: 66.66667%
  }

  .col-large-9 {
    width: 75%
  }

  .col-large-10 {
    width: 83.33333%
  }

  .col-large-11 {
    width: 91.66667%
  }

  .col-large-12 {
    width: 100%
  }
}

@media print,
screen and (min-width:40em) {

  .col-medium-1,
  .col-medium-10,
  .col-medium-11,
  .col-medium-12,
  .col-medium-2,
  .col-medium-3,
  .col-medium-4,
  .col-medium-5,
  .col-medium-6,
  .col-medium-7,
  .col-medium-8,
  .col-medium-9 {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-medium-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    width: auto
  }

  .col-medium-shrink {
    width: auto
  }

  .col-medium-1 {
    width: 8.33333%
  }

  .col-medium-2 {
    width: 16.66667%
  }

  .col-medium-3 {
    width: 25%
  }

  .col-medium-4 {
    width: 33.33333%
  }

  .col-medium-5 {
    width: 41.66667%
  }

  .col-medium-6 {
    width: 50%
  }

  .col-medium-7 {
    width: 58.33333%
  }

  .col-medium-8 {
    width: 66.66667%
  }

  .col-medium-9 {
    width: 75%
  }

  .col-medium-10 {
    width: 83.33333%
  }

  .col-medium-11 {
    width: 91.66667%
  }

  .col-medium-12 {
    width: 100%
  }
}

.col-small-1,
.col-small-10,
.col-small-11,
.col-small-12,
.col-small-2,
.col-small-3,
.col-small-4,
.col-small-5,
.col-small-6,
.col-small-7,
.col-small-8,
.col-small-9 {
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.col-small-1 {
  width: 8.33333%
}

.col-small-2 {
  width: 16.66667%
}

.col-small-3 {
  width: 25%
}

.col-small-4 {
  width: 33.33333%
}

.col-small-5 {
  width: 41.66667%
}

.col-small-6 {
  width: 50%
}

.col-small-7 {
  width: 58.33333%
}

.col-small-8 {
  width: 66.66667%
}

.col-small-9 {
  width: 75%
}

.col-small-10 {
  width: 83.33333%
}

.col-small-11 {
  width: 91.66667%
}

.col-small-12 {
  width: 100%
}

/**/